<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Test Practice Test Suite" verbose="1" thread-count="6" parallel="methods">
  <test name="UI Automation Tests">
  	<parameter name="browser" value="${browser}"/>
  	<parameter name="isLambdaTest" value="${isLambdaTest}"/>
  	<parameter name="isHeadless" value="${isHeadless}"/>
  	
    <classes>
       <class name="com.ui.tests.LoginTest"/>
    </classes>
  </test>

 </suite>